---
tags: portfolio
title: GoTo Connect
short: Web based peer-to-peer video conferencing.
description: GoTo is a real-time communcations (RTC) app offering phone, call center and video conferencing, that can be used from your browser or downloaded as a desktop app.
keywords: Electron, Node.js, WebRTC
created: 2019-2022
date: 2023-05-22
---

include /mixins.pug

p <a href="https://goto.com">GoTo</a> is a real-time communcations (RTC) app offering phone, call center and video conferencing, that can be used from your browser or downloaded as a desktop app.
// more

h3 Electron and Node.js
p Implemented simultaneously as a hybrid standalone web app (SPA) and Electron desktop app. A lot of work went into taking the existing web platform, and bridging desktop APIs to extend capabilities like local disk recording, window management and auto startup.

p The architecture allows for teams to ship features independently of each other and without being tied to the release schedule of the desktop binary. We went from doing quarterly releases to shipping every single day. An advanced update system allows users to lock in a version or receive updates at night or while the system is idle.

p
  +picture("screens/main.png", 950, 632, "Landing page showing login and join meeting")

h3 Features
p The application supports phone calls through SIP and offers configuration of phone menus for businesses. Text messaging is combined with chat and allows for internal as well as external communication with customers and sales leads.
p
  +picture("screens/phone.png", 950, 632, "Phone feature and menu system")

p: a(href="/portfolio/") ← Back to Portfolio
