@font-face {
	font-family: 'icomoon';
	src:data-uri('_partials/fonts/icomoon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-diku:before {
	content: "\e602";
}
.icon-vcard:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e05d";
}
.icon-twitter:before {
	content: "\e05e";
}
.icon-googleplus:before {
	content: "\e05f";
}
.icon-rss:before {
	content: "\e060";
}
.icon-linkedin:before {
	content: "\e062";
}
.icon-flickr:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e601";
}

.icon-diku {
	color: #355C37;
}
