@travel-map-height: 400px;
@travel-map-image-spacing: 3px;

.photos {
	&.index {
		.darkMode();

		body {
			background-image: url(/photos/hero.jpg);
			background-image: image-set(
				url(/photos/hero.webp) 1x
			);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}

	.nav {
		margin-top: 30vh;
	}

	.hero {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 30vh;

		&.architecture {
			background-image: url(/photos/architecture/hero.jpg);
			background-image: image-set(
				url(/photos/architecture/hero.webp) 1x
			);
		}

		&.california {
			background-image: url(/photos/california/hero.jpg);
			background-image: image-set(
				url(/photos/california/hero.webp) 1x
			);
		}
	}

	.gallery {
		padding: 20px;
		margin: 0 auto;

		img {
			margin-bottom: 5px; // must be in sync with masonry gutter
		}

		&.inline {
			text-align: center;
			line-height: 0;

			img {
				margin-right: 5px;
				margin-bottom: 5px;
			}
		}
	}
}

#travel-map {
	#map-canvas {
		margin-bottom: @travel-map-image-spacing;
		height: @travel-map-height;
	}

	.images {
		overflow: hidden;
		margin: 0 auto;

		.image-fixed {
			margin: @travel-map-image-spacing;
			min-height: 100px;
			min-width: 100px;
			background: rgba(244, 244, 244, .3);

			&:hover {
				margin-bottom: 1px;
				border-bottom: 2px solid var(--primary);
				cursor: pointer;
			}
		}
	}
}
