@travel-map-height: 400px;
@travel-map-image-spacing: 3px;

.photos {
	.masthead {
		margin-bottom: 1.5em;
		padding: 0;
		border: none;

		.slideshow {
			height: 600px;
		}
	}

	@media (max-width: @page-width) {
		.slideshow .caption .title {
			font-size: large;
		}
	}

	.gallery {
		padding: 20px;
		margin: 0 auto;

		img {
			margin-bottom: 20px;
		}
	}
}

#travel-map {
	#map-canvas {
		margin-bottom: @travel-map-image-spacing;
		height: @travel-map-height;
	}

	.images {
		overflow: hidden;
		margin: 0 -@travel-map-image-spacing;

		.image-fixed {
			float: left;
			margin: @travel-map-image-spacing;
			min-height: 100px;
			min-width: 100px;
			background: #f4f4f4;

			&:hover {
				margin-bottom: 1px;
				border-bottom: 2px solid var(--primary);
				cursor: pointer;
			}
		}
	}
}
