.portfolio {
  $spacing: 10px;

  h2 {
    margin-bottom: 5px;
  }

  .projects {
    margin: 0 (-$spacing);
    line-height: 0;
    overflow: hidden;

    li {
      overflow: hidden;
      position: relative;
      float: left;
      margin: $spacing;
      width: 300px;
      max-width: calc(100% - #{$spacing * 2});
      height: 300px;
      background: #efefef;
      border: 1px solid #ddd;
      border-radius: 16px;
      color: #aaa;
      text-align: center;
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        background: #555;
        border-color: #999;
      }
    }

    a,
    span {
      display: block;
    }

    .project {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      text-decoration: none;
      text-align: left;
    }

    .thumbnail {
      flex: 1;
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;

      @media screen and (prefers-color-scheme: dark) {
        background-color: inherit;
      }
    }

    .text {
      padding: 10px;
      border-top: 1px solid maroon;
      background: rgba(238, 238, 238, 0.9);
      line-height: 130%;
    }

    .date {
      color: #888;
      font-size: 12px;
      margin-bottom: 10px;
    }

    .tags {
      text-transform: uppercase;
      margin: 5px 0;
    }

    .title {
      color: #000;
      font:
        normal 24px 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;
      -webkit-text-size-adjust: 100%; /* prevent iPhone from mixing up font sizes */
    }
  }

  .frame {
    box-sizing: border-box;
    padding: 5px;
    border-radius: 16px;
    border: 2px solid #ccc;
  }

  .screenshots {
    $spacing: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      margin: $spacing 0;

      h4 {
        margin: 0 0 5px 0;
        text-align: left;
      }

      img {
        max-width: calc(100% - #{$spacing});
      }
    }
  }
}
