.tools {
	#csp-output {
		width: 100%;
		padding: .2em .6em;
		background: var(--code-background);
		border: none;
		border-radius: 3px;
		font-family: var(--code-font-family);
		font-size: var(--code-font-size);
		line-height: 16px;
		outline: 0;
		overflow-x: scroll;
		white-space: pre;
	}

	#csp-list {
		overflow: hidden;
		> * {
			// display: inline-block;
			float: left;
			margin: 5px 0;
		}
		dt {
			clear: both;
			padding: 0;
			width: 100px;

			&:before {
				content: '\A';
			}
		}
		dd textarea {
			width: 300px;
			max-width: 95%;
		}
	}
}