if global.services.analytics
  script(src=`https://www.googletagmanager.com/gtag/js?id=${global.services.analytics}` async)
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '!{global.services.analytics}');
