if global.services.analytics
  script.
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '!{global.services.analytics}', 'auto');
    ga('send', 'pageview');
  script(src="https://www.google-analytics.com/analytics.js" async)
