---
layout: layouts/base.pug
title: Architecture
description: Photos of architecture and details from buildings mostly taken in black and white.
date: 2021-10-23
tags: photos
className: photos
---

include /mixins.pug

.hero.architecture

header.c
  h1 Architecture
  p.subtitle An exploration of abstract urban environments

.gallery(data-masonry='{ "itemSelector": "img", "columnWidth": 200, "gutter": 5, "fitWidth": true }')
  +picture("/photos/architecture/Architecture-1.jpg", 200, 302, "Architecture")
  +picture("/photos/architecture/Architecture-2.jpg", 200, 313, "Architecture")
  +picture("/photos/architecture/Architecture-3.jpg", 200, 267, "Architecture")
  +picture("/photos/architecture/Architecture-4.jpg", 200, 372, "Architecture")
  +picture("/photos/architecture/Architecture-5.jpg", 200, 390, "Architecture")
  +picture("/photos/architecture/Architecture-6.jpg", 200, 302, "Architecture")
  +picture("/photos/architecture/Architecture-7.jpg", 200, 314, "Architecture")
  +picture("/photos/architecture/Architecture-8.jpg", 200, 302, "Architecture")
  +picture("/photos/architecture/Architecture-9.jpg", 200, 296, "Architecture")
  +picture("/photos/architecture/Architecture-10.jpg", 200, 256, "Architecture")
  +picture("/photos/architecture/Architecture-11.jpg", 200, 303, "Architecture")
  +picture("/photos/architecture/Architecture-12.jpg", 200, 270, "Architecture")
  +picture("/photos/architecture/Architecture-13.jpg", 200, 409, "Architecture")
  +picture("/photos/architecture/Architecture-14.jpg", 200, 262, "Architecture")
  +picture("/photos/architecture/Architecture-15.jpg", 200, 300, "Architecture")
  +picture("/photos/architecture/Architecture-16.jpg", 200, 300, "Architecture")
  +picture("/photos/architecture/Architecture-17.jpg", 200, 300, "Architecture")

script(src=global.libs.masonry)
