---
layout: layouts/base.pug
title: Architecture
description: Photos of architecture and details from buildings mostly taken in black and white.
date: 2021-10-23
tags: photos
className: photos
---

include /mixins.pug

.hero.architecture

header.c
  h1 Architecture
  p.subtitle An exploration of abstract urban environments

.gallery(data-masonry='{ "itemSelector": "img", "columnWidth": 200, "gutter": 5, "fitWidth": true }')
  +pictureAvif("Architecture-1", 200, 302, "Architecture")
  +pictureAvif("Architecture-2", 200, 313, "Architecture")
  +pictureAvif("Architecture-3", 200, 267, "Architecture")
  +pictureAvif("Architecture-4", 200, 372, "Architecture")
  +pictureAvif("Architecture-5", 200, 390, "Architecture")
  +pictureAvif("Architecture-6", 200, 302, "Architecture")
  +pictureAvif("Architecture-7", 200, 314, "Architecture")
  +pictureAvif("Architecture-8", 200, 302, "Architecture")
  +pictureAvif("Architecture-9", 200, 296, "Architecture")
  +pictureAvif("Architecture-10", 200, 256, "Architecture")
  +pictureAvif("Architecture-11", 200, 303, "Architecture")
  +pictureAvif("Architecture-12", 200, 270, "Architecture")
  +pictureAvif("Architecture-13", 200, 409, "Architecture")
  +pictureAvif("Architecture-14", 200, 262, "Architecture")
  +pictureAvif("Architecture-15", 200, 300, "Architecture")
  +pictureAvif("Architecture-16", 200, 300, "Architecture")
  +pictureAvif("Architecture-17", 200, 300, "Architecture")

script(src=global.libs.masonry)
