---
layout: layouts/base.pug
title: Architecture
description: Photos of architecture and details from buildings mostly taken in black and white.
date: 2021-10-23
tags: photos
className: photos
---

include /mixins.pug

.hero.architecture

header.c
  h1 Architecture
  p.subtitle An exploration of abstract urban environments

.gallery(data-masonry='{ "itemSelector": "img", "columnWidth": 200, "gutter": 5, "fitWidth": true }')
  +picture("/photos/architecture/DSC05655.jpg", 200, 300, "Silo")
  +picture("/photos/architecture/IMGP1182.jpg", 200, 389, "Architecture")
  +picture("/photos/architecture/DSC00299.jpg", 200, 300, "Architecture")
  +picture("/photos/architecture/IMGP1215.jpg", 200, 301, "Architecture")
  +picture("/photos/architecture/IMGP1217.jpg", 200, 301, "Architecture")
  +picture("/photos/architecture/IMGP1218.jpg", 200, 313, "Architecture")
  +picture("/photos/architecture/IMGP1221.jpg", 200, 301, "Architecture")
  +picture("/photos/architecture/IMGP1548.jpg", 200, 301, "Architecture")
  +picture("/photos/architecture/IMGP1683.jpg", 200, 301, "Architecture")
  +picture("/photos/architecture/IMGP3890.jpg", 200, 269, "Architecture")
  +picture("/photos/architecture/IMGP3891.jpg", 200, 408, "Architecture")
  +picture("/photos/architecture/IMGP3992.jpg", 200, 301, "Architecture")
  +picture("/photos/architecture/IMG_3434.jpg", 200, 371, "Architecture")
  +picture("/photos/architecture/IMG_4694.jpg", 200, 295, "Architecture")

script(src=global.libs.masonry)
