---
layout: layouts/base.pug
title: Autumn Colors
description: Orange and reds from beautiful autumn landscapes
date: 2023-11-15
tags: photos
className: photos
---

include /mixins.pug

header.c.c(style='padding:80px 0')
  h1 Autumn Colors
  p.subtitle Orange and reds from beautiful autumn landscapes

.gallery.inline
  +pictureAvif("DSC00028", "200", "300", "")
  +pictureAvif("DSC00031", "200", "300", "")
  +pictureAvif("DSC00064", "200", "300", "")
  +pictureAvif("DSC00439", "200", "300", "")
  +pictureAvif("DSC01594", "200", "300", "")
  +pictureAvif("DSC01599", "200", "300", "")
  +pictureAvif("DSC01602", "200", "300", "")
  +pictureAvif("DSC01607", "200", "300", "")
  +pictureAvif("DSC01610", "200", "300", "")
  +pictureAvif("DSC01613", "200", "300", "")
  +pictureAvif("DSC01908", "200", "300", "")
  +pictureAvif("DSC01925", "200", "300", "")
  +pictureAvif("DSC01933", "200", "300", "")
  +pictureAvif("DSC01941", "200", "300", "")
  +pictureAvif("DSC01956", "200", "300", "")
  +pictureAvif("DSC01958", "200", "300", "")
  +pictureAvif("DSC02056", "200", "300", "")
  +pictureAvif("IMG_0030", "200", "300", "")

script(src=global.libs.masonry)
