---
layout: layouts/base.pug
title: California Colors
description: Bla
date: 2022-11-02
tags: photos
className: photos
---

include /mixins.pug

.hero.california

header.c
  h1 California Colors
  p.subtitle Hues and blues and orange and purple from all over California

.gallery.inline
  +picture("/photos/california/california-1.jpg", 211, 150, "")
  +picture("/photos/california/california-10.jpg", 227, 150, "")
  +picture("/photos/california/california-11.jpg", 245, 150, "")
  +picture("/photos/california/california-12.jpg", 110, 150, "")
  +picture("/photos/california/california-13.jpg", 365, 150, "")
  +picture("/photos/california/california-14.jpg", 280, 150, "")
  +picture("/photos/california/california-15.jpg", 100, 150, "")
  +picture("/photos/california/california-16.jpg", 225, 150, "")
  +picture("/photos/california/california-17.jpg", 225, 150, "")
  +picture("/photos/california/california-18.jpg", 100, 150, "")
  +picture("/photos/california/california-19.jpg", 225, 150, "")
  +picture("/photos/california/california-2.jpg", 100, 150, "")
  +picture("/photos/california/california-20.jpg", 295, 150, "")
  +picture("/photos/california/california-21.jpg", 225, 150, "")
  +picture("/photos/california/california-22.jpg", 99, 150, "")
  +picture("/photos/california/california-23.jpg", 533, 150, "")
  +picture("/photos/california/california-24.jpg", 214, 150, "")
  +picture("/photos/california/california-25.jpg", 100, 150, "")
  +picture("/photos/california/california-26.jpg", 100, 150, "")
  +picture("/photos/california/california-27.jpg", 101, 150, "")
  +picture("/photos/california/california-28.jpg", 97, 150, "")
  +picture("/photos/california/california-29.jpg", 229, 150, "")
  +picture("/photos/california/california-3.jpg", 100, 150, "")
  +picture("/photos/california/california-30.jpg", 247, 150, "")
  +picture("/photos/california/california-31.jpg", 100, 150, "")
  +picture("/photos/california/california-32.jpg", 120, 150, "")
  +picture("/photos/california/california-4.jpg", 236, 150, "")
  +picture("/photos/california/california-5.jpg", 104, 150, "")
  +picture("/photos/california/california-6.jpg", 221, 150, "")
  +picture("/photos/california/california-7.jpg", 110, 150, "")
  +picture("/photos/california/california-8.jpg", 227, 150, "")
  +picture("/photos/california/california-9.jpg", 99, 150, "")

script(src=global.libs.masonry)
