---
layout: layouts/base.pug
title: Photos
description: Photographs I've taken home and on my travels. Photography is an inspiration to look at the world in a fresh and creative way.
date: 2021-10-23
className: photos index
---

section.content
  .nav.c
    h1 Photos
    ul
      for item in collections.gallery
        li
          a(href=item.url)= item.data.title
      li
        a(href="travel-map") Travel Map
