p
  | I took the course Multimedia Technologies in 2004 at the University of Copenhagen in Computer Science (
  abbr(title='Datalogisk Institut Københavns Universitet') DIKU
  i.icon-diku
  | ). This website was made for a report about JPEG compression algorithms, and the purpose was to explain the impact of image size and quality to "normal" (non-tech) people. The page navigation is designed as a one-way step-by-step guide through the basic principles of image compression.
// more
p
  | The website can still be&nbsp;
  a(href='./mmt/', target='_blank', hreflang='da') seen live
  | &nbsp;(Danish).
ul.screenshots
  li
    h4 Front
    img.frame(src='1.png', alt='Forside oversigt', width='400', height='362')
  li
    h4 Tutorial page
    img.frame(src='2.png', alt='Valg af opløsning', width='400', height='362')
