---
title: Lej Direct A/S
description: Lej Direct website design screenshots. The site featured both a product editing system and shopping system made in ASP.
keywords: "Design · Programming: ASP VB6, MS Access"
created: 2004
date: 2004-04-03
---

p Lej Direct is a Danish company, which leases electric appliances. The site featured both a product editing system and shopping system made in ASP. Work was contracted by Neo Factory.
// more
ul.screenshots
  li
    h4 Front
    img.frame(src='front.png' alt='Front' width='500' height='400')
