---
title: Cortex Facaderens ApS
description: Cortex Facaderens ApS website design screenshots. Featuring a Flash menu and ASP 3.0 with MS Access, using HTML frames and CSS 2.0.
keywords: "Design · Programming: ASP VB6, Flash"
created: 2002
date: 2002-04-23
---

p
  a(href='https://facaderens.dk/' hreflang='da' rel='external') Cortex Facaderens ApS
  | &nbsp;is a company which cleans/restores facades on buildings. Features a Flash intro. Flash menu is a bit unorthodox, but was a requirement from the customer. Site used some&nbsp;
  abbr(title='IE flavor of non-standard JavaScript') DHTML
  | , which of course, by todays standards, should be replaced by proper JavaScript. Menu also relies on HTML frames which would be completely unacceptable by modern standards.
// more
ul.screenshots
  each image in ['About.png', 'Content.png', 'Front.png']
    li
      h4= image.replace('.png', '')
      img.frame(src=`screens/${encodeURIComponent(image)}` alt=image width='400' height='259')
