/*@font-face { font-family: MPR; src: url('MyriadPro-Regular.otf'); } 
@font-face { font-family: MPS; src: url('MyriadPro-Semibold.otf'); } */

/* HTML reset */
* { margin: 0; padding: 0; font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 10px; color: #0d0d0d; }

/* HTML5 reset */
article, aside, figure, footer, header, hgroup, menu, nav, section, figcaption 
{ 
	display: block; 
}

html, body {
	padding: 0px;
	margin: 0px;
	min-height: 100%;
	height: 100%;
}

body {
	background-color: #cbd2d8;
	background: -moz-repeating-linear-gradient(0, #CBD2D8 0%, #CBD2D8 29%, #C5CCD4 29%, #C5CCD4 100% );
	background-image: -webkit-gradient(linear, 
		left top, right top,  
		color-stop(0.7142, #C5CCD4), 
		color-stop(0.7142, #CBD2D8));
	-webkit-background-size:7px 1px;
	-moz-background-size:7px 7px;
	background-size:7px 1px;
	background-repeat:repeat;
	-webkit-text-size-adjust: 100%;
}

h1 { 
	font-size: 20px; 
	color: #fff; 
	text-shadow: 0 -1px 0 rgba(0,0,0, 0.4); margin: 8px 0 0 0;		
	/* max-width: 90%; -- Can't be used unless we know exact width, target only iPhone or also iPad? */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; /* Add [Text]... on too long lines */
}

h2 { 
	margin: 8px 0 0 0;
    padding: 5px 20px 0 20px;
	font-size: 17px; 
	color: #4c566c; 
	text-shadow: 0 1px 0 rgba(255,255,255, 1); 
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; /* Add [Text]... on too long lines */
}

h3 {
	font-size: 19px;
	color: #000;
}

h4 {
	font-size: 15px;
	color: #000;
}

p { 
	padding: 5px 20px;
	font-size: 16px; 
	color: #4c566c; 
	text-shadow: 0 1px 0 rgba(255,255,255, 1);
	text-align: center;
}

nav { 
	position: relative; 
	height: 42px; 
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #cad6e2; 
	border-bottom-color: #22374a; 
	text-align: center;
	background: -webkit-gradient(linear, 
		left top, left bottom, 
		color-stop(0.0, #b5c0ce), 
		color-stop(0.5, #889bb3),
		color-stop(0.5, #7f94b0),
		color-stop(1.0, #6d83a1));
	background: -moz-linear-gradient(#b5c0ce, #889bb3 50%, #7f94b0 50%, #6d83a1 100%); 
}	
nav a { 
	position: absolute;
	padding: 7px 12px 0 12px;
	height: 20px;
	font-size: 12px; 
	font-weight: bold; 
	color: #fff;
    text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
	border: 1px solid rgba(0,0,0, 0.4); 
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.35), inset 0 1px 1px rgba(0,0,0, 0.25); 
	border-radius: 5px; 
	background: -webkit-gradient(linear, 
		left top, left bottom, 
		color-stop(0.0, #8aa1bf), 
		color-stop(0.5, #5877a2),
		color-stop(0.5, #476999),
		color-stop(1.0, #4a6c9b)); 
	background: -moz-linear-gradient(#8aa1bf, #5877a2 50%, #476999 50%, #4a6c9b 100%); 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
nav a.save {
	background-image: -webkit-gradient(linear, 
		left top, left bottom, 
		color-stop(0.0, #779be9), 
		color-stop(0.5, #376fe0), 
		color-stop(0.5, #2260dd),
		color-stop(1.0, #2463de));
	background: -moz-linear-gradient(#779be9, #376fe0 50%, #2260dd 50%, #2463de 100%); 
}
nav a.back {
	margin-top: -1px;
	padding: 8px 12px 1px 12px;
	background: none;
	-webkit-box-shadow: none;
	border-left: 12px;
	border-right: 5px;
	-webkit-border-image: url("left.png") 0 5 0 12;
}
nav a.active, nav a:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7a87a7), to(#415381), color-stop(0, #7a87a7), color-stop(0.5, #415381), color-stop(0.5, #283d6f));
}
nav a.large { font-size: 24px; line-height: 0; padding: 12px 12px 0 12px; height: 15px; } 
nav a.left { top: 6px; left: 10px; }
nav a.right { top: 6px; right: 10px; }

#search {
    margin: 10px;
    padding: 10px;
    background: #e4e6e9;
    border: 1px solid #999;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
#search div {
	padding-left: 23px;
    border: 1px solid #999;
    border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.35), inset 0 1px 1px rgba(0,0,0, 0.25); 
	background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQBAMAAAA7eDg3AAAALVBMVEWdo6ihpqynrLGvsrezt7y4vMDEx8vLztHN0NPV19rd3+Hf4OLm5+jt7vD9/f2YalACAAAAiUlEQVR4XiXMIQ7CQBSE4Sc2YCmhBgUCh9kbdHEILoBAozgC6RFKgu4RakERxCKakCqysnkG150zMGFHfWLyC+J1VQMq8FmWd8Sw2LfFmviMgWCIywGAa1RsQ5QnlWVHVIStifKcPtE9VL6jHiH/d7Z3Nyfwmsh01hO4Hd/FjuDgzTMhbqoEtPoDfkNWMUmecQYAAAAASUVORK5CYII=) no-repeat 10px 6px;
}
#search input[type=search] { 
	font-size: 14px;
	padding: 5px 8px;
	width: 100%; 
	border:none;
	background-color: transparent;
}

menu, ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}
menu a, ul li {
    display: block;
    margin-bottom: -1px;
    padding: 12px 10px;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAPBAMAAAAWtvJmAAAAFVBMVEUAAACTk5O6urrOzs7X19f+/v6Ojo5Tg3yEAAAAAXRSTlMAQObYZgAAAEhJREFUeF5ljsEJACAIRV0hiBZpgg7dK3IAL+0/Qhaagf/0eMj3A2bkNODMUBX7is8mqoJYWAseLXi04iDy1m6vtF775jd8yzY67R8ylTBiqwAAAABJRU5ErkJggg==) no-repeat right center;
    border: 1px solid #999;
    color: #222;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
menu .active, menu a:active {
	color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7B9EEA), to(#376FE0), color-stop(0, #7B9EEA), color-stop(1, #376FE0));
}
menu li:first-child a {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
menu li:last-child a {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

ul {
    border: 1px solid #999;
    border-radius: 8px;
    background: #FFF;
    overflow: hidden;
}
ul li {
    margin: -1px 0 0 0;
    border-width: 1px 0 0 0;
    background: none;
}

dl {
    margin: 10px;
    border: 1px solid #999;
    border-radius: 8px;
    background: #FFF;
    overflow: hidden;
    text-decoration: none;    
}
dl dt, dl dd {
	float: left;
	width: 50%; height: 45px;
	margin: -1px 0 0 0;
    padding: 12px 10px;
	border-top: 1px solid #999;
    color: #222;
	font-size: 17px;
	font-weight: bold;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
dl dt {
	clear: left;
}
dl dd {
	color: #385487;
	font-weight: normal;
	text-align: right;
}

#results, #table { display: none; }

table {
	width: 100%;
	border: 1px solid #E9E9E9;
	border-collapse: collapse;
}
table td {
	margin: 0;
	padding: 12px 10px;
	border: 1px solid #E9E9E9;
	/*border-collapse: collapse;*/
	background: #FFF;
	font-size: 17px;
	font-weight: bold;
}
table .alt td {
	background: #F3F3F3;
}
table th {
	padding: 10px;
	text-align: left;
	font-weight: bold;
	color: #808080;
	font-size: 12px;
	background: -webkit-gradient(linear, left top, right top, from(#F8F8F8), to(#ECECEC));
	background: -moz-linear-gradient(#F8F8F8, #ECECEC);
	background: linear-gradient(#F8F8F8, #ECECEC);
}
table th img {
	float: left;
	margin-right: 10px;
}

.time {
	color: #808080;
}