.photos {
    .slideshow {
        height: 600px;
    }

    .albums {
        @album-size: 180px;
        @album-margin: 6px;

        overflow: hidden;
        margin: 0 -@album-margin;

        .album {
            position: relative;
            float: left;
            margin: @album-margin;
            line-height: 0;

            .thumbnail {
                overflow: hidden;
                width: @album-size;
                height: @album-size;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .title {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0 8px;
                height: 1em;
                color: #fff;
                font-size: larger;
                text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);

                &.large {
                    font-size: x-large;
                }
            }
        }
    }
}

#travel-map {
    #map-canvas {
        width: 100%;
        height: 400px;
    }
    .images {
        position: relative;
        overflow: hidden;
        margin: 0 -3px;
        img {
            float:left;
            margin: 3px;
            min-height: 100px;
            min-width: 100px;
            &:hover {
                margin-bottom: 1px;
                border-bottom: 2px solid @secondary;
                cursor: pointer;
            }
        }
    }
}
