#travelmap {
    position:relative;
    display: block;
    width:280px;
    height:151px;

    img {
        position:absolute;
        left:5px;
        transition: opacity 1s;
        &:last-child:hover {
            opacity:0;
        }
    }
}

#travel-map {
    .thumbs {
        position: relative;
        overflow: hidden;
        margin: 0 -3px;
        img {
            float:left;
            margin: 3px;
            min-height: 100px;
            min-width: 100px;
            &:hover {
                margin-bottom: 1px;
                border-bottom: 2px solid @secondary;
                cursor: pointer;
            }
        }
    }
}

.photos {
    .slideshow {
        height: 600px;
    }
}
