@travel-map-height: 400px;
@travel-map-image-spacing: 3px;

.photos {
    @media (max-width: @page-width) {
        .slideshow .caption .title {
            font-size: large;
        }
    }

    .albums {
        @album-size: 180px;
        @album-margin: 6px;

        overflow: hidden;
        margin: 0 -@album-margin;

        .album {
            position: relative;
            float: left;
            margin: @album-margin;
            line-height: 0;
            width: @album-size;
            height: @album-size;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .title {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0 8px;
                height: 2em;
                color: #f4f4f4;
                font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
                font-size: 12pt;
                font-weight: 200;
                line-height: 2em;
                text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
                background: rgba(0, 0, 0, 0.5);
            }

            &.travel-map {
                width: 100%;
                height: 200px;
                background-image: url(/images/photos/travel-map.jpg);

                @media (min-resolution: 2dppx) {
                    background-image: url(/images/photos/travel-map-2x.jpg);
                }

                .title {
                    font-size: x-large;
                }
            }

            @media (max-width: @page-width) {
                width: 135px;
                height: 135px;
            }
        }
    }
}

#travel-map {
    #map-canvas {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: -(@travel-map-height + @travel-map-image-spacing);
        width: 100%;
        height: @travel-map-height;
    }
    .images {
        overflow: hidden;
        margin: 0 -@travel-map-image-spacing;
        margin-top: @travel-map-height + @travel-map-image-spacing;
        .image {
            float:left;
            margin: @travel-map-image-spacing;
            min-height: 100px;
            min-width: 100px;
            background: #f4f4f4;
            &:hover {
                margin-bottom: 1px;
                border-bottom: 2px solid @secondary;
                cursor: pointer;
            }
        }
    }
}
