.masthead
  ul.slideshow
    each image in public.photos._data.index.slideshow
      li
        img(src='/images/photos/slideshow/#{ image.url }', title='#{ image.title }', alt='#{ image.alt }', width='950', height='600')

section
  .stripes
    .stripe
      a(href="travel-map.html")
        img(src="/images/photos/travel-map-thumb.jpg", width="150", height="150", alt="")
        .stripe-title
          | World Travel Map
        .stripe-text
          | Map of where I have been in the world generated from image GPS EXIF data.
    .stripe
      a(href="architecture.html")
        img(src="/images/photos/architecture-thumb.jpg", width="150", height="150", alt="")
        .stripe-title
          | Architecture
        .stripe-text
          | Images of buildings and architecture with a fresh perspective.
    .stripe
      a(href="copenhagen.html")
        img(src="/images/photos/copenhagen-thumb.jpg", width="150", height="150", alt="")
        .stripe-title
          | Copenhagen
        .stripe-text
          | Favorite shots from my home town of Copenhagen.
    .stripe
      a(href="https://www.flickr.com/photos/olemichelsen/sets/")
        img(src="/images/photos/albums-thumb.jpg", width="150", height="150", alt="")
        .stripe-title
          | My Flickr albums
        .stripe-text
          | All my photos and albums.

script(src='#{ libs.jquery }')
include ../../bower_components/jquery.animate-enhanced/jquery.animate-enhanced.min.js
include ../../bower_components/jquery-slideshow/jquery.slideshow.min.js
script.
  $(function() {
      $('.slideshow').slideshow({ timeout: 5000, speed: 2000 });
  });
