#travel-map
  h1 Photos
  h2 World Travel Map
  p
    | Selected photographic waypoints for all the places I have visited around the world. My implementation is reading the GPS EXIF data from my photos, and adding them as map markers using&nbsp;
    a(href='http://code.google.com/apis/maps/documentation/javascript/', rel='external') Google Maps API
    | &nbsp;and&nbsp;
    a(href='http://masonry.desandro.com/', rel='external') Masonry
    | &nbsp;for photo layout.
  p#map-canvas
  p.images
    for image, slug in public.photos._data['travel-map'].images
      span(
        class='image'
        data-image=slug.substring(slug.lastIndexOf('/') + 1)
        style={
          width: image.width + 'px',
          height: image.height + 'px',
          background: 'url(/images/photos/map/#{ encodeURIComponent(slug) })'
        }
      )

script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCPqiUhRvSy2m5N__6fIvANVRq2j-q7w2A&sensor=false')
script(src='#{ libs.masonry }')
script
  != 'var locations = ' + JSON.stringify(public.photos._data['travel-map'].images)
script
  include ../scripts/markerclusterer-1.0.min.js
script
  include ../scripts/travel-map.js
