#travel-map
  h1 Photos
  h2 World Travel Map
  p
    | Selected photographic waypoints for all the places I have visited around the world. My implementation is reading the GPS EXIF data from my photos, and adding them as map markers using&nbsp;
    a(href='http://code.google.com/apis/maps/documentation/javascript/', rel='external') Google Maps API
    | &nbsp;and&nbsp;
    a(href='http://masonry.desandro.com/', rel='external') jQuery Masonry
    | &nbsp;for photo layout.
  p#map_canvas(style='width:100%;height:400px')
  p.thumbs
    for image, index in public.photos.map._contents
      img(src="map/t/#{ image }", alt="#{ index }")

script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPqiUhRvSy2m5N__6fIvANVRq2j-q7w2A&sensor=false")
script(src='#{ libs.jquery }')
script(src='#{ libs.masonry }')
include ../scripts/markerclusterer-1.0.min.js
include ../scripts/travel-map.js

//- http://www.quietless.com/kitchen/extract-exif-data-using-php-to-display-gps-tagged-images-in-google-maps/
//- http://stackoverflow.com/questions/3059044/google-maps-js-api-v3-simple-multiple-marker-example
