p
  a(href='http://www.dentatoveredeenke.dk', rel='external') Den Tatoverede Enke
  | &nbsp;is one of my favorite Danish restaurants in the middle of Copenhagen. The theme of restaurant is centered around Belgian beer, and an impressive menu of modern Danish cousine. The purpose of the website is an introduction to the menu and current specials, reviews and recommendations by other customers and clear directions to the location.
// more
p
  | The design and programming was made together with my friend&nbsp;
  a(href='http://www.jonatanpedersen.com', rel='external') Jonatan Fugl Pedersen
  | , and we focused on a very visual and animated experience in a stylish design. The previous website was built in Flash, so our primary target was to improve accessibility,&nbsp;
  abbr(title='Search Engine Optimization') SEO
  | &nbsp;and maintainability.
br
br
.row
  .col-4
    img.frame(alt='Front page', src='index.png', width='280', height='207')
    br
    br
    h4 Stylish design
    p
      | The design is to their wishes held in a minimalistic, Scandinavian tradition with emphasis on black/white contrasts and the focus directed towards the images.
    h5 Animations and transitions
    p
      | Navigation through the design is eased by smooth animations between pages. Pictures of the food and drinks are presented in high resolution fading in using HTML5 transitions.
  .col-4
    img.frame(alt='Brasserie', src='brasserie.png', width='280', height='207')
    br
    br
    h4 AJAX and SEO
    p
      | The content is loaded with AJAX so the interface is never "flashing" between pages. This also improves loading times by only sending the changes to the content when a page changes.
    p
      | SEO is ensured by using&nbsp;
      a(href='http://code.google.com/web/ajaxcrawling/docs/specification.html', rel='external', target='_blank') Google's hash fragment system
      | , which ensures that all pages can be correctly indexed even though they are loaded with AJAX.
  .col-4
    img.frame(alt='About', src='about.png', width='280', height='207')
    br
    br
    h4 Maintenance
    p
      | An important priority was the creation of a simple&nbsp;
      abbr(title='Content Management System') CMS
      | . It was important, that changes to the menu and bar lists could be edited quickly by all staff without prior training.
    p
      | A simple system was devised, with a column for Danish and one for English, making it easy to maintain the content in both languages.
p
  a(href='/portfolio/') ← Back to Portfolio
