## Set cache expire headers ##
<IfModule mod_headers.c>
	Header unset ETag
	FileETag None

	<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|htc|svg|eot|ttf|woff)$">
		Header set Cache-Control "max-age=31557600, public"
	</FilesMatch>

	<FilesMatch "\.(txt|xml)$">
		Header set Cache-Control "max-age=7200, public"
	</FilesMatch>

	<FilesMatch "\.manifest$">
		Header set Cache-Control ""
	</FilesMatch>
</IfModule>

## Enable gzip compression ##
<IfModule mod_deflate.c>
	<FilesMatch "\.(css|html|js|json|mustache|txt|xml)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

## Serve content as UTF8 ##
AddDefaultCharset UTF-8

## Custom error documents ##
ErrorDocument 404 /404.html

## Ensure correct MIME types ##
AddType text/x-vcard .vcf

## Enable .manifest files for HTML5 offline caching ##
AddType text/cache-manifest .manifest

RedirectPermanent /blog/feed.html /feed.xml
RedirectPermanent /blog/breadcrumb-trail-harp-jade /blog/breadcrumb-trail-harp-jade.html
RedirectPermanent /blog/split-string-to-table-using-transact-sql/) /blog/split-string-to-table-using-transact-sql.html
RedirectPermanent /demos/html5-animation.html /portfolio/html5-animation.html
RedirectPermanent /portfolio/projects/alsted.html /portfolio/alsted.html
RedirectPermanent /portfolio/projects/cortex.html /portfolio/cortex.html
RedirectPermanent /portfolio/projects/intonet.html /portfolio/intonet.html
RedirectPermanent /portfolio/projects/lejdirect.html /portfolio/lejdirect.html
RedirectPermanent /portfolio/projects/majazz.html /portfolio/majazz.html
RedirectPermanent /portfolio/projects/mmt.html /portfolio/mmt.html
RedirectPermanent /tools/regex.htm /tools/regex.html

## Enable url rewrite ##
<IfModule mod_rewrite.c>
	RewriteEngine  on
	RewriteRule    blog/(.+)/$  /blog/$1.html  [R=301]
</IfModule>

## Enable CSP ##
<IfModule mod_headers.c>
	Header set Content-Security-Policy "default-src 'self' *.michelsen.dk; connect-src *.disqus.com; font-src 'self' data: https://*.gstatic.com; img-src 'self' *.apache.org *.cloudflare.com *.michelsen.dk data: https://*.googleapis.com https://*.gstatic.com https://*.staticflickr.com www.google-analytics.com; script-src 'self' 'unsafe-eval' 'unsafe-inline' *.cloudflare.com *.disqus.com https://*.disquscdn.com https://*.googleapis.com https://*.gstatic.com https://*.rawgit.com www.google-analytics.com; style-src 'self' 'unsafe-inline' *.cloudflare.com https://*.googleapis.com; frame-src disqus.com rawgit.com https://*.youtube.com"
	Header set X-Content-Type-Options nosniff
	Header set X-Frame-Options DENY
</IfModule>