#masthead.masthead.notfound
  .text
    h1 Are you lost?

section.content
  h3 Page Not Found

  p Oops! Looks like the file you were trying to access could not be found on this server. Please check that you have the right link and/or bookmark, and try to find the correct address from my front page.

  menu
    li »&nbsp;
      a(href='/') Go to the front page
    li »&nbsp;
      a(href='javascript:window.history.go(-1)') Go to the page from whence you came

script.
  var images = [
    '/images/404-swans.jpg',
    '/images/404-turtle.jpg',
    '/images/404-squirrel.jpg'
  ];
  var imgUrl = images[Math.floor(Math.round(Math.random() * 2))];
  document.getElementById('masthead').style.backgroundImage = 'url(' + imgUrl + ')';
