.landingpage
  section
    ul.slideshow
      li
        a(href='/profile.html')
          img(src='/images/olemichelsen-1.jpg', title='Welcome', alt='This is my new curriculum vitae website', width='950', height='400')
      li
        a(href='/portfolio/')
          img(src='/images/olemichelsen-2.jpg', title='Portfolio', alt='Presenting some of my work and projects', width='950', height='400')
      li
        a(href='/photos/')
          img(src='/images/olemichelsen-3.jpg', title='Photos', alt='Shots from my travels around the world', width='950', height='400')

  section.columns
    .feed.col
      h4 Things I do
      ul
        for item, slug in public.portfolio._data
          li
            a.feedType(href='/portfolio/#{ slug }.html')
              span.blog-small
            | &nbsp;
            a(href='/portfolio/#{ slug }.html')= item.title
            br
            != partial('_shared/date', {date: item.date})

    .feed.col
      h4 Things I say
      ul
        | ?php echo $col2 ?
    .col.last
      h4 Things I connect to
      ul.social
        li
          a(href='https://www.linkedin.com/in/olebjornmichelsen', rel='external', title='LinkedIn')
            i.icon-linkedin
        li
          a(href='https://twitter.com/omichelsen', rel='external', title='Twitter')
            i.icon-twitter
        li
          a(href='https://www.facebook.com/olemichelsen', rel='external', title='Facebook')
            i.icon-facebook
        li
          a(href='https://www.flickr.com/photos/olemichelsen', rel='external', title='Flickr')
            i.icon-flickr
      #postit
        span
          | You can also&nbsp;
          a(href='mailto:#{ email }') drop me a line

script(src='#{ libs.jquery }')
include ../bower_components/jquery.animate-enhanced/jquery.animate-enhanced.min.js
include ../bower_components/jquery-slideshow/jquery.slideshow.min.js
script.
  $(function() {
      $('.slideshow').slideshow({ timeout: 5000, speed: 2000 });
  });
