mixin feed(item, url, defaultType)
  li
    a.type(href='#{ url }')
      span(class="icon-#{ item.type || defaultType || 'michelsen' }")
    a.title(href='#{ url }')= item.title
    br
    != partial('_shared/date', {date: item.date})

.landingpage
  section
    ul.slideshow
      li
        a(href='/profile.html')
          img(src='/images/olemichelsen-1.jpg' title='Welcome' alt='This is my new curriculum vitae website' width='950' height='400')
      li
        a(href='/portfolio/')
          img(src='/images/olemichelsen-2.jpg' title='Portfolio' alt='Presenting some of my work and projects' width='950' height='400')
      li
        a(href='/photos/')
          img(src='/images/olemichelsen-3.jpg' title='Photos' alt='Shots from my travels around the world' width='950' height='400')

  .row
    .col-4
      h4 Things I say
      ul.feed
        - var i = 0;
        each item, slug in public.blog._data
          if i < 6
            +feed(item, '/blog/' + slug + '.html', 'blog')
            - i++
    .col-4
      h4 Things I do
      ul.feed
        each item in public._data.index.updates
          +feed(item, item.url)
    .col-4
      h4 Things I connect to
      ul.social
        li
          a(href='https://github.com/omichelsen', rel='external', title='Github')
            i.icon-github
        li
          a(href='https://www.linkedin.com/in/olebjornmichelsen', rel='external', title='LinkedIn')
            i.icon-linkedin
        li
          a(href='https://twitter.com/omichelsen', rel='external', title='Twitter')
            i.icon-twitter
        li
          a(href='https://www.facebook.com/olemichelsen', rel='external', title='Facebook')
            i.icon-facebook
        li
          a(href='https://www.flickr.com/photos/olemichelsen', rel='external', title='Flickr')
            i.icon-flickr

script
  include ../node_modules/simple-slideshow/src/slideshow.js
script.
  window.addEventListener('load', function () { var slsh = new SlideShow('.slideshow'); });
