extends /layouts/base.pug

block head
  link(rel="image_src" href=`/images/tools/${page.fileSlug}.png`)

block content
  .content
    h1 Tools
    if page.fileSlug !== 'tools'
      h2= title

    != content
