extends ../_layout.jade

block head
  link(rel="image_src", href="/images/tools/#{ current.source }.png")

block content
  section
    h1 Tools
    if current.source !== 'index'
      h2= title

    != yield
