---
layout: layouts/base.pug
title: Kuranz
short: Location aware offline currency converter.
description: Currency converter which automatically detect the currency based on your geolocation, HTML5 web app available on Firefox Marketplace.
keywords: JavaScript, React, Redux, geolocation
created: 2013-2020
date: 2014-12-11
dateModified: 2020-07-06
---

include /mixins.pug

section(itemscope itemtype="http://schema.org/CreativeWork")
	.content
		h1 Portfolio
		include /portfolio-header.pug

		p <a href="https://kuranz.com">Kuranz</a> is a currency converter that can automatically detect which country you are in, and set the appropriate currency. It also works when you are offline, so you can take it on your travels without paying for an expensive data plan.

		p Kuranz is a HTML5 web app, and can be run from any smartphone like iPhone or Android. Developed as a part of the beta program for the new Firefox OS, it has been thoroughly tested on the Geeksphone Keon.

	.banner
		.content
			.grid
				+picture("iphone11promax-1.png", 400, 552, "Convert the currency of the country you are in")
				+picture("iphone11promax-2.png", 400, 552, "Select favorite currencies for fast conversion")

	.content
		h3 Open web standards

		p I created Kuranz to prove that mobile apps could be built using only open web standards. With localStorage, app cache and geolocation APIs, the app works well offline and can access the GPS hardware in the phone. Building a UI that feels native on all platforms is a challenge, but keeping things simple and using basic touch events, CSS transforms and transitions can get you pretty far.

		h3 App store

		p Download it now from the <a href="https://apps.apple.com/us/app/kuranz/id1273957336" target="_blank">App Store</a>, or go to <a href="https://kuranz.com/">kuranz.com</a> in your browser (can be <a href="https://support.google.com/android/answer/9450271">bookmarked</a> to the home screen on your phone).

		p: +appStore("https://apps.apple.com/us/app/kuranz/id1273957336", "Install Kuranz from App Store")

		p
			a(href="/portfolio/") ← Back to Portfolio
