@keyframes background {
    from { background: #fff; }
    to   { background: #000; }
}
.bg-anim {
    background: #000;
    animation: background 1s linear;
}
@keyframes fadein {
    0%, 5% { opacity: 0; margin-top: -950px; }
    100%   { opacity: 1; margin-top: -475px; }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
.moon-anim {
    animation: fadein 15s ease-out, rotate 120s infinite linear;
}
#moon {
    margin-top: -475px;
}
#control {
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 64px;
    height: 64px;
    background: url(/portfolio/html5-animation/controls.png) no-repeat;
    opacity: .3;
    transition: opacity .3s linear;
}
#control:hover {
    opacity: .5;
}
#control.playing {
    background-position: -64px 0;
}
#moon, #control {
    display: none;
}
#loading {
    position: absolute;
    top: 300px; left: 50%;
    margin-left: -100px;
    width: 200px;
    background: rgba(0,0,0,.5);
    border-radius: 8px;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}
#loading a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
