link(rel="stylesheet", href="/demos/html5-animation/styles.css")

img#moon(alt='', src='#{ cdn }demos/html5-animation/moon.jpg', width='950', height='950')
audio#audio(loop='', preload='')
  source(src='#{ cdn }demos/html5-animation/Nocturne.ogg', type='audio/ogg')
  source(src='#{ cdn }demos/html5-animation/Nocturne.mp3', type='audio/mpeg')
  | Your browser does not support the audio element.
a#control(href='#')
#loading
  a#doStart(href='#') START ANIMATION

script(src="#{ libs.jquery }")
script.
  $(function() {
    var audio = this.getElementById('audio');
    var $control = $('#control');

    $(audio)
      .bind('play',  function() { $control.addClass('playing'); })
      .bind('pause', function() { $control.removeClass('playing'); })
      .bind('ended', function() { audio.currentTime = 0; audio.play(); });

    $control.click(function() {
      (!audio.paused)
        ? audio.pause()
        : audio.play();
      return false;
    });

    $('#doStart').click(function() {
      $('#loading').fadeOut('fast');
      $('#container').addClass('bg-anim');
      $('#moon').addClass('moon-anim').show();
      $control.fadeIn();
      audio.play();
      return false;
    });
  });
