---
title: Sandberg A/S
description: My work creating Sandberg's websites, company identity and product presentation on sandberg.it, meterman.it interactive management of store product placement.
keywords: Design · Programming
image: logo.svg
created: 2001-2006
date: 2006-10-07
---

p
  | I started working for Sandberg in 2001 and have since then been responsible for all their websites and related systems. Sandberg was bought in 2006 by the IT distributor&nbsp;
  a(href='../eet/') EET Nordic A/S
  | . I got hired by EET but continued to maintain and develop for Sandberg as a part of the EET group.

// more

p As lead developer of all Sandberg's websites, I have handled both architectural and graphical design, and programmed their systems from the ground up. The first versions of the primary website were based on ASP 3.0 and an MS Access database. Most everything has been changed since then, and now all systems are running ASP.NET 4.0, AJAX and LINQ with MS SQL Server.

.grid.col-3
  div
    h4 www.sandberg.it
    p
      img.floatright(src='StreetBlaster.png' alt='StreetBlaster Headset' height='121' width='90')
      | Sandberg's main profile on the web, featuring both product presentations, support information and downloads, as well as a webshop fully integrated with Sandberg's vendors, facilitating customer purchases to a local store of their choosing.
  div
    h4 MeterMan
    p
      img.floatright(src='rack.jpg' alt='Store Product Rack' height='130' width='77')
      | MeterMan was developed to help small and medium shops manage their Sandberg products, and organize them on racks.
    p It's based on AJAX for front end features and uses C# algorithms for business logic, on-the-fly PNG drawing etc.
  div
    h4 Sandberg Guide
    p The Sandberg Guide is meant to help customers navigate the many new types of technologies and the corresponding cables used to connect them.
    p It's a versatile system, able to determine how to connect e.g. a sound system to a computer, even if it requires joining multiple adapters and cables.

section#sandberg
  h3 Product website
  p The page design was changed radically to create a sharper brand profile for the company. Sections of the website was created with very different graphical layouts, to create new profiles for different product series.
  .grid(style="grid-template-columns: 2fr 1fr")
    div
      img.frame(src='sandberg-product.png' alt='Product details' width='600' height='522')
    div
      img.frame(src='sandberg-series.png' alt='Product details' width='280' height='240')
      br
      br
      h5 Series branding
      p
        | A custom logo and other branding graphics is applied into the normal page layout to create a sub section of the website dedicated to the series.
      h5 Search and language
      p
        | Search with "search as you type" functionality. Language and localization settings for 12 country and language combinations.
      h5 3D product rotation
      p
        | Images of the product is shown as well as a 3D Flash presentation with mouse rotation on 3 axis and zoom functionality.

section#meterman.page-break
  h3 MeterMan
  p I developed this system to help small and medium shops manage their Sandberg products and organize them on the racks, that Sandberg delivers.
  p: a(href='../meterman/') Read about MeterMan →
