---
layout: layouts/base.pug
title: Regex Crossword Mobile
short: Regular expression crossword game for web and mobile.
description: Regular expression crossword game designed for your mobile phone with easy tutorials, drag and drop interface and player created puzzles.
keywords: Mobile, PWA, TypeScript
created: 2019-2023
date: 2023-05-22
---

include /mixins.pug

section(itemscope itemtype="http://schema.org/CreativeWork")
	.content
		h1 Portfolio
		include /portfolio-header.pug

		p <a href="https://regexcrossword.com">Regex Crossword Mobile</a> is the app version of <a href="/portfolio/regexcrossword">Regex Crossword</a>, the popular regular expression crossword game. To work on a mobile device the whole UX had to be reimagined to support touch and a smaller screen size. It has an interactive tutorial to introduce newcomers to regular expressions and an improved puzzle builder allowing the community to contribute both grid and hexagonal puzzles. A <a href="https://regexcrossword.com/leaderboard">leaderboard</a> tracks the top 50 players.

		p The game is developed as a <abbr title="Progressive Web App">PWA</abbr> and featurred in the native app stores for both iOS and Android. It's using HTML5 API's for drag and drop and service workers to be able to run offline.

	.banner
		.content
			.grid.col-3
				+picture("screens/iphone14pro1.png", 247, 500, "Mobile application with many puzzles")
				+picture("screens/iphone14pro2.png", 247, 500, "Player puzzles - daily challenges")
				+picture("screens/iphone14pro3.png", 247, 500, "Easy tutorial - learn regular expressions")

	.content
		h3 App store

		p Download it now from the app store or go to <a href="https://regexcrossword.com/">regexcrossword.com</a> in your browser (can be <a href="https://support.google.com/android/answer/9450271">bookmarked</a> to the home screen on your phone).

		p
			+appStore("https://apps.apple.com/us/app/regex-crossword/id1239681767", "Install Regex Crossword from App Store")
			| &nbsp;&nbsp;
			+playStore("https://play.google.com/store/apps/details?id=com.michelsen.regexcrossword", "Install Regex Crossword from Google Play")

		p
			a(href="/portfolio/") ← Back to Portfolio
