---
layout: layouts/base.pug
title: Regex Crossword Mobile
short: Regular expression crossword game for web and mobile.
description: Regular expression crossword game designed for your mobile phone with easy tutorials, drag and drop interface and player created puzzles.
keywords: Mobile, PWA, TypeScript
created: 2019-2020
date: 2020-07-07
---

include /mixins.pug

section(itemscope itemtype="http://schema.org/CreativeWork")
	.content
		h1 Portfolio
		include /portfolio-header.pug

		p <a href="https://m.regexcrossword.com">Regex Crossword Mobile</a> is the app version of <a href="https://regexcrossword.com">Regex Crossword</a>, the popular regular expression crossword game. To work on a mobile device the whole UX had to be reimagined to support touch on a smaller screen size. This mobile version is features an interactive tutorial as a general introduction to regular expressions and is ideal for a quick game on the move.

		p The game is developed as a <abbr title="Progressive Web App">PWA</abbr> and featurred in the native app stores for both iOS and Android. It's using HTML5 API's for drag and drop and service workers to be able to run offline.

	.banner
		.content
			.grid.col-3
				+picture("iphone13pro1.png", 259, 500, "Mobile application with many puzzles")
				+picture("iphone13pro2.png", 259, 500, "Player puzzles - daily challenges")
				+picture("iphone13pro3.png", 259, 500, "Easy tutorial - learn regular expressions")

	.content
		h3 App store

		p Download it now from the app store or go to <a href="https://m.regexcrossword.com/">m.regexcrossword.com</a> in your browser (can be <a href="https://support.google.com/android/answer/9450271">bookmarked</a> to the home screen on your phone).

		p
			+appStore("https://apps.apple.com/us/app/regex-crossword/id1239681767", "Install Regex Crossword from App Store")
			| &nbsp;&nbsp;
			+playStore("https://play.google.com/store/apps/details?id=com.michelsen.regexcrossword", "Install Regex Crossword from Google Play")

		p
			a(href="/portfolio/") ← Back to Portfolio
