extends ../_layout.jade

block head
  link(rel="stylesheet", href="#{ libs.highlightcss }")

block content
  .masthead
    img(src="/images/blog/header.jpg", width="950", height="200")
  section.blog(itemscope, itemtype="http://schema.org/Blog")
    if current.source !== 'index'
      article(itemprop="blogPosts", itemscope, itemtype="http://schema.org/BlogPosting")
        h1.entry-title= title
        != partial('../_shared/entry-meta')
        != yield
    else
      != yield

block scripts
  script(src='#{ libs.highlight }')
  script.
    hljs.initHighlightingOnLoad();
