extends ../_layout.jade

block content
  .masthead
  .inner(itemscope, itemtype="http://schema.org/Blog")
    if current.source === 'index'
      != yield
    else
      article(itemprop="blogPosts", itemscope, itemtype="http://schema.org/BlogPosting")
        h1.entry-title(itemprop="headline")= title
        != partial('../_shared/entry-meta')
        != yield
        != partial('../_shared/blog-navigation', public.blog)
        #disqus_thread.entry-comments
        noscript
          | Please enable JavaScript to view the
          a(href="https://disqus.com/?ref_noscript" rel="nofollow") comments powered by Disqus.

block scripts
  if current.source !== 'index'
    script(src='#{ libs.highlight }')
    script.
      hljs.initHighlightingOnLoad();
    script.
      var disqus_shortname = 'olemichelsen';
      var disqus_identifier = '#{ url + 'blog/' + current.source + '.html' }';
      var disqus_url = '#{ url + 'blog/' + current.source + '.html' }';
      (function() {
      var d = document, s = d.createElement('script');
      s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
