extends ../_layout.jade

block head
  link(rel="stylesheet", href="#{ libs.highlightcss }")

block content
  .masthead
    img(src="/images/blog/header.jpg", width="950", height="200")
  section.blog(itemscope, itemtype="http://schema.org/Blog")
    article(itemprop="blogPosts", itemscope, itemtype="http://schema.org/BlogPosting")
      h1.entry-title= title
      div.entry-meta
        span Article by
        | &nbsp;
        span.author= author
        | &nbsp;
        span posted on
        | &nbsp;
        include ../_shared/date

      != yield

block scripts
  script(src='#{ libs.highlight }')
  script.
    hljs.initHighlightingOnLoad();
