- function excerpt(content) {
  - if(content.indexOf("<!-- more-->") == -1) return content;
  - else return content.split("<!-- more-->")[0];
- }

for item, slug in public.blog._data
  if slug !== 'index'
    article
      h2.entry-title
        a(href='/blog/#{ slug }.html')= item.title
      != partial('../_shared/entry-meta', item)
      .entry-excerpt
        != excerpt(partial(slug))
        .entry-link
          a(href='/blog/#{ slug }.html') Continue reading →
