extends ../_layout.jade

block head
  link(rel="image_src", href="/#{ current.path.slice(0, -1).join('/') }/thumb.png")

block content
  .content
    h1 Portfolio
    section(itemscope, itemtype="http://schema.org/CreativeWork")
      if current.source === 'index' && current.path.length === 2
        p.tags
          | Programming and design from 1999-
          != new Date().getFullYear()
      else
        include ../_shared/portfolio-header

      != yield
