extends ../_layout.jade

block head
  link(rel="image_src", href="/images/portfolio/#{ current.source }/thumb.png")

block content
  h1 Portfolio
  section.inner(itemscope, itemtype="http://schema.org/CreativeWork")
    if current.source === 'index'
      p.tags
        | Programming and design from 1999-
        != new Date().getFullYear()
    else
      h2(itemprop='name')= title
      p.tags(itemprop='keywords')
        b(itemprop='dateCreated')= created
        | &nbsp;·&nbsp;
        != keywords

    != yield
