p
  | An architect company which designed custom houses. Simple HTML site made with&nbsp;
  abbr(title='Active Server Pages 3.0') ASP
  | &nbsp;and MS Access, presenting the company's work history and contact information. Work was contracted by Neo Factory ApS.
ul.screenshots
  li
    h4 Front
    img.frame(src='/images/portfolio/alsted/1.png', alt='Front', width='400', height='257')
  li
    h4 References
    img.frame(src='/images/portfolio/alsted/2.png', alt='References', width='400', height='257')
  li
    h4 Contact
    img.frame(src='/images/portfolio/alsted/3.png', alt='Contact', width='400', height='257')
