.column-left
  ul
    li
      img.frame(src='/images/portfolio/ernitec/front.jpg', alt='Front page showing a random product and the latest company news', width='450', height='298')
    li
      img.frame(src='/images/portfolio/ernitec/product.jpg', alt='Product page showing details and part numbers as well as any available spec sheets, images and simliar products', width='450', height='503')
    li
      img.frame(src='/images/portfolio/ernitec/files.jpg', alt='Files download site containing all software and manuals for the Ernitec products', width='450', height='342')
.column-right
  p
    a(href='http://www.ernitec.com', target='_blank') Ernitec
    | &nbsp;is a surveillance company selling cameras and offering consulting on installation.
  p
    | Ernitec had a legacy company site based on an obsolete version of SiteCore. As the pages did no longer work in modern browsers, and the maintenance agreement had expired, we decided to redo the whole site in ASP.NET MVC and HTML5.
  p
    | The original design was preserved to align with the established brand identity. The site structure was improved to allow for easier navigation, and an increased amount of products following a company expansion.
  p
    | An additional support site was created to allow for download of the many manuals and special software pertaining to the products. This was also created using ASP.NET MVC, and is directory/file based to allow for easy updates.
  p
    a(href='/portfolio/') ← Back to Portfolio
