p A company started by a friend and I, offering IT and phone solutions to small businesses. Page was meant as advertisement and contact information. The implementation was simple <abbr title='Active Server Pages 3.0'>ASP</abbr> (VBScript).
// more
ul.screenshots
  li
    img(src='/images/portfolio/intonet/1l.png', alt='Front', width='400', height='305')
  li
    img(src='/images/portfolio/intonet/2l.png', alt='System Solutions', width='400', height='305')
  li
    img(src='/images/portfolio/intonet/3l.png', alt='Telephones', width='400', height='305')
  li
    img(src='/images/portfolio/intonet/4l.png', alt='Webdesign', width='400', height='305')
  li
    img(src='/images/portfolio/intonet/5l.png', alt='Solution offers', width='400', height='305')
  li
    img(src='/images/portfolio/intonet/6l.png', alt='Contact', width='400', height='305')
