.column-left
	ul
		li(style='float: left;')
			img.frame(src='//cdn.ole.michelsen.dk/portfolio/kuranz/screen-main.png', alt='Main screen for entering an amount to convert into any currency.', width='200', height='343')
		li(style='float: left; margin-left: 20px;')
			img.frame(src='//cdn.ole.michelsen.dk/portfolio/kuranz/stores.png', alt='Available on Firefox Marketplace and Amazon App Store', width='200', height='343')
.column-right
	p
		a(href='http://app.michelsen.dk/kuranz/', target='_blank') Kuranz
		| &nbsp;is a currency converter that can automatically detect which country you are in, and set the appropriate currency. It also works when you are offline, so you can take it on your travels without paying for an expensive data plan.
	p.
		Kuranz is a HTML5 web app, and can be run from any mobile smartphone like iPhone or Android. Developed as a part of the beta program for the new Firefox OS, it has been thoroughly tested on the Geeksphone Keon.
	p
		| Implemented using great frameworks such as&nbsp;
		a(href='http://knockoutjs.com/', target='_blank') Knockout
		| &nbsp;and&nbsp;
		a(href='http://requirejs.org/', target='_blank') RequireJS
		| .
	p
		| Download it now from&nbsp;
		a(href='https://marketplace.firefox.com/app/kuranz') Firefox Marketplace
		| , or&nbsp;
		a(href='http://app.michelsen.dk/kuranz/') open it directly
		| &nbsp;in your browser (can be bookmarked on your smartphone).
	p
		a(href='https://marketplace.firefox.com/app/kuranz')
			img(src='#{ cdn }/portfolio/kuranz/firefox-marketplace.png', alt='Download app Kuranz on Firefox Marketplace')
	p
		a(href='/portfolio/') ← Back to Portfolio
