p
  | Lej Direct is a Danish company, which leases electric appliances. The site featured both a product editing system and shopping system made in ASP. Work was contracted by Neo Factory.
ul.screenshots
  li
    h4 Front
    img.frame(src='#{ cdn }/portfolio/projects/lejdirect/1l.png', alt='Front', width='500', height='400')
