<?php 
	include_once(getenv("DOCUMENT_ROOT").'/includes/auto_version.php'); 
?>
	<link rel="stylesheet" href="http://cdn.ole.michelsen.dk<?=auto_version('/styles/michelsen.min.css')?>" type="text/css" />
	<link rel="shortcut icon" href="http://static.michelsen.dk/favicon.png" />
	<link rel="alternate" href="http://ole.michelsen.dk/feed.xml" type="application/rss+xml" title="Ole Michelsen Latest Updates" />

<?php if ( ! function_exists( 'GoogleAnalytics' ) ) : ?>
	<script>
	var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-19571265-2"]);_gaq.push(["_trackPageview"]);_gaq.push(['_trackPageLoadTime']);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src="http://www.google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})()
<?php/*
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19571265-2']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_trackPageLoadTime']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
*/?>
	</script>
<?php endif; ?>
	<!--[if lt IE 9]><script src="http://static.michelsen.dk/scripts/html5shiv.min.js"></script><![endif]-->
