<div id="container">

<header id="header">
	<div class="title">
		<h1>Ole Michelsen</h1>
		<h2>Web Development and Computer Science</h2>
	</div>

	<nav id="topnav">
		<ul id="menu">
			<li><a href="/">Home</a></li>
			<li>
				<a href="/blog/" title="Um gesh de blårg blårg!">
					Blog
					<span class="subtitle">Things I say</span>
				</a>
			</li>
			<li>
				<a href="/portfolio/">
					Portfolio
					<span class="subtitle">Things I do</span>
				</a>
			</li>
			<li>				
				<a href="/profile.html">
					Profile
					<span class="subtitle">Things about me</span>
				</a>
			</li>
			<li>
				<a href="/photos/">
					Photos
					<span class="subtitle">Things I see</span>
				</a>
			</li>
		</ul>
	</nav>
</header>
