.row
  .col
    ul
      li
        img(
          src='conversation.jpg'
          alt='Chat with your friends without having to login or install any software'
        )
  .col
    :markdown
      [GoToMeeting Free](https://free.gotomeeting.com) is a free offering from [Citrix](https://www.citrix.com/), providing video conferencing in your browser, without having to download and install any software or login to an account.
    // more
    :markdown
      We developed this in a small team in Copenhagen, with the goal of rethinking how video conference meetings worked, and making it much easier to use and understand for first time users.

      Built with AngularJS and Node.js on a SaaS platform using GitHub, Firebase, Heroku, LogEntries, CircleCI, Amazon AWS/S3 and many more. Video and audio is delivered through peer-to-peer via WebRTC with support for screen sharing, chat and document sharing.

      [← Back to Portfolio](/portfolio/)
