include ../../_shared/picture

.row
  .col
    ul
      li.c
        +picture("conversation.jpg", 450, 277, "Chat with your friends without having to login or install any software")
  .col
    p <a href="https://free.gotomeeting.com">GoToMeeting Free</a> is a free offering from <a href="https://www.citrix.com/">Citrix</a>, providing video conferencing in your browser, without having to download and install any software or login to an account.
    // more
    p We developed this in a small team in Copenhagen, with the goal of rethinking how video conference meetings worked, and making it much easier to use and understand for first time users.
    p Built in AngularJS and Node.js with a cloud architecture using GitHub, Firebase, Heroku, LogEntries, CircleCI, Amazon AWS/S3 and many more. Video and audio is delivered through peer-to-peer via WebRTC with support for screen sharing, chat and document sharing.

h3 Cloud platform
p From the beginning we knew, that we didn't want to spend any time reinventing or maintaining any technology which was not part of our core offering. Therefore we decided to go 100% cloud-based, and not host any part of our infrastructure ourselves. This meant our web servers were hosted by Heroku, databases by Firebase, logs by LogEntries, continuous integration by CircleCI, code coverage by Coveralls, CDN by CloudFlare, uptime by Pingdom and the list goes on. In the end this setup worked incredibly well for us, with an uptime of <b>99.93%</b>.

h3 Features
p
  +picture("screens/landingpage.png", 950, 603, "Landing page showing an example video chat")

h4 Content sharing
p We added several options for sharing content while having a video meeting. Screen sharing allowed you to share your screen or a single app. Document sharing allowed you to upload a document (PDF, Word, Excel or PowerPoint), and synchronously present to all participants. Documents were converted to HTML5, which gave a superior reading experience for text and avoided "blocking" video issues on slow connections.
p
  +picture("screens/sharing.png", 950, 603, "Showing sharing options")

h4 Timed agenda
p A special feature called "Agenda" allowed you to set topics for a meeting, and easily drag sliders to set the duration of each topic. When everybody had joined and the meeting started, a green progressbar would show you if you were keeping on topic and on time.
p
  +picture("screens/agenda-screensharing.png", 950, 603, "Sharing screen while in a meeting with timed agenda")

p: a(href="/portfolio/") ← Back to Portfolio
