.row
  .col
    ul
      li
        img(
          src='conversation.jpg'
          alt='Chat with your friends without having to login or install any software'
        )
  .col
    :markdown
      [GoToMeeting Free](https://free.gotomeeting.com) is a free offering from [Citrix](https://www.citrix.com/), providing video conferencing in your browser, without having to download and install any software or login to an account.
    // more
    :markdown
      We developed this in a small team in Copenhagen, with the goal of rethinking how video conference meetings worked, and making it much easier to use and understand for first time users.

      Built in AngularJS and Node.js with a cloud architecture using GitHub, Firebase, Heroku, LogEntries, CircleCI, Amazon AWS/S3 and many more. Video and audio is delivered through peer-to-peer via WebRTC with support for screen sharing, chat and document sharing.

:markdown
  ### Pure cloud platform

  From the beginning we knew, that we didn't want to spend any time reinventing or maintaining any technology which was not part of our core offering. Therefore we decided to go 100% cloud-based, and not host any part of our infrastructure ourselves. This meant our web servers were hosted by Heroku, databases by Firebase, logs by LogEntries, continuous integration by CircleCI, code coverage by Coveralls, CDN by CloudFlare, uptime by Pingdom and the list goes on. In the end this setup worked incredibly well for us, with an uptime of __99.93%__.

  [← Back to Portfolio](/portfolio/)
