- function capitalize(string) {
  - return string.charAt(0).toUpperCase() + string.slice(1);
- }

mixin breadcrumb(url, title, pos = 1)
  li(itemscope itemtype='http://schema.org/ListItem' itemprop='itemListElement')
    a(href='#{ url }' itemprop='item')
      span(itemprop='name')= title
    meta(itemprop='position' content='#{ pos }')

- var isIndex = current.source === 'index'

ol.sitemappath(itemscope itemtype='http://schema.org/BreadcrumbList')
  +breadcrumb('/', 'Home', 1)
  if !isIndex || current.path.length > 1
    each item, i in current.path.slice(0, isIndex ? -2 : -1)
      +breadcrumb('/' + item + '/', capitalize(item), i + 2)
  +breadcrumb('', title, current.path.length + (isIndex ? 0 : 1))
