---
layout: layouts/base.pug
title: Web Development and Computer Science
description: Portfolio of Ole Bjørn Michelsen, exploring the full potential of web development with HTML5, JavaScript, C#, ASP.NET and SQL.
date: 2015-09-05
---

include /mixins.pug

mixin feed(item, url, defaultType)
  li
    a.type(href=url)
      span(class=`icon-${ item.type || defaultType || 'michelsen' }`)
    a.title(href=url)= item.title
    br
    +date(item.dateModified || item.date)

.landingpage.content
  section
    ul.slideshow
      li
        a(href='/profile/')
          img(src='/images/olemichelsen-1.jpg' title='Welcome' alt='This is my new curriculum vitae website' width='950' height='400')
      li
        a(href='/portfolio/')
          img(src='/images/olemichelsen-2.jpg' title='Portfolio' alt='Presenting some of my work and projects' width='950' height='400')
      li
        a(href='/photos/')
          img(src='/images/olemichelsen-3.jpg' title='Photos' alt='Shots from my travels around the world' width='950' height='400')

  .row
    .col-4
      h4 Things I say
      ul.feed
        - var i = 0;
        each item in collections.blogDesc
          if i < 6
            +feed(item.data, item.url, 'blog')
            - i++
    .col-4
      h4 Things I do
      ul.feed
        each item in updates
          +feed(item, item.url)
    .col-4
      h4 Things I connect to
      ul.social
        li
          a(href='https://github.com/omichelsen' rel='external' title='Github')
            i.icon-github
        li
          a(href='https://www.linkedin.com/in/omichelsen/' rel='external' title='LinkedIn')
            i.icon-linkedin
        li
          a(href='https://twitter.com/omichelsen' rel='external' title='Twitter')
            i.icon-twitter
        li
          a(href='https://www.facebook.com/olemichelsen' rel='external' title='Facebook')
            i.icon-facebook
        li
          a(href='https://www.flickr.com/photos/olemichelsen' rel='external' title='Flickr')
            i.icon-flickr

script(src=global.libs.simpleslideshow)
script.
  new SlideShow('.slideshow')
