---
layout: layouts/base.pug
title: Profile
description: Education and experience; my degrees, my work, computer science and programming.
date: 2014-10-20
---

.content
  #card(itemscope itemtype='http://schema.org/Person')
    .frame
      .image
        img(alt='Ole Bjørn Michelsen' itemprop='image' src='/images/olemichelsen-contact.jpg' width='200' height='200')
    dl.hide
      dt Name
      dd(itemprop='name') Ole Bjørn Michelsen
    dl
      dt Location
      dd(itemprop='homeLocation') San Francisco, USA
      dt Mail
      dd
        a(href=`mailto:${ global.email }` itemprop='email')= global.email
      dt Social
      dd
        a(href='https://www.linkedin.com/in/omichelsen/' rel='external' hreflang='en' title='LinkedIn') LinkedIn&nbsp;
        a(href='https://www.twitter.com/omichelsen' rel='external' hreflang='en' title='Twitter') Twitter&nbsp;
        a(href='https://www.facebook.com/olemichelsen' rel='external' hreflang='en' title='Facebook') Facebook&nbsp;

  .row.profile
    .col
      h2 About me
      h3 Experience
      ol
        li Head of Engineering Community, LogMeIn — 2019-present
        li Staff Software Engineer, LogMeIn — 2017-2019
        li Senior Software Engineer, Citrix — 2014-2017
        li Senior Developer and Scrum Master, Edora A/S — 2012-2014
        li Software Developer, EET Group A/S — 2006-2012
        li Software Developer, Sandberg A/S — 2001-2006
        li IT supporter, DaimlerChrysler (Mercedes-Benz) — 1999-2001
      h3 Education and certifications
      ol
        li B.Sc. Computer Science, University of Copenhagen — 2010
        li Professional Scrum Master I, Scrum.org — 2013
      p
        i.icon-linkedin
        | &nbsp;
        a(href="https://www.linkedin.com/in/omichelsen/") LinkedIn profile

    .col
      h2 My open source projects
      dl
        each repo in github
          dt
            i.icon-github &nbsp;
            a(href=repo.html_url)= repo.name
            if repo.language
              em= ` (${repo.language})`
          dd= repo.description
