---
title: SafeVision
description: Created a website for surveillance company SafeVision using ASP.NET MVC and HTML5 with a presentaiton of the product range and contact information.
keywords: ASP.NET, HTML5, jQuery
created: 2009
date: 2009-10-07
---

.grid
  div
    ul
      li
        img.frame(src='products.jpg' alt='Product page showing a range of products and prices' width='450' height='427')
      li
        img.frame(src='support.jpg' alt='Support page for extra information about returns and policies' width='450' height='269')
      li
        img.frame(src='files.jpg' alt='Files download site containing all software and manuals for the Ernitec products' width='450' height='345')
  div
    p
      a(href='http://dk.safevision.eu' target='_blank') SafeVision
      | &nbsp;is a surveillance company selling cameras and accessories and monitors.
    p
      | The company was purchased and made a sub division of the&nbsp;
      a(href='../eet/') EET Group
      | , and the website is based on the platform I developed for them. This includes a web shop and order status with track and trace, as well as customer support functions such as return shipment handling.
    p
      | The site features a different layout from the normal EET Group theme, with slight modifications to some of the pages in form of product category presentation etc.
    p
      | An additional support site was created to allow for download of the many manuals and special software pertaining to the products. This was also created using ASP.NET MVC, and is directory/file based to allow for easy updates.
    p
      a(href='/portfolio/') ← Back to Portfolio
