---
title: Ernitec
description: Website for surveillance company Ernitec using ASP.NET MVC and HTML5 with a presentaiton of the product range and contact information.
keywords: ASP.NET MVC, HTML5, jQuery
created: 2011
date: 2011-10-06
---

.grid
  div
    ul
      li
        img.frame(src='front.jpg', alt='Front page showing a random product and the latest company news', width='450', height='298')
      li
        img.frame(src='product.jpg', alt='Product page showing details and part numbers as well as any available spec sheets, images and simliar products', width='450', height='503')
      li
        img.frame(src='files.jpg', alt='Files download site containing all software and manuals for the Ernitec products', width='450', height='342')
  div
    p <a href='http://www.ernitec.com' target='_blank'>Ernitec</a> is a surveillance company selling cameras and offering consulting on installation.
    p Ernitec had a legacy company site based on an obsolete version of SiteCore. As the pages did no longer work in modern browsers, and the maintenance agreement had expired, we decided to redo the whole site in ASP.NET MVC and HTML5.
    // more
    p The original design was preserved to align with the established brand identity. The site structure was improved to allow for easier navigation, and an increased amount of products following a company expansion.
    p An additional support site was created to allow for download of the many manuals and special software pertaining to the products. This was also created using ASP.NET MVC, and is directory/file based to allow for easy updates.
    p
      a(href='/portfolio/') ← Back to Portfolio
