---
layout: layouts/base.pug
eleventyExcludeFromCollections: true
title: Tools
description: Tools for web development and optimization including common tasks as minifying, base64 encoding and HTML batch validation.
date: 2014-10-09
---

.content
  h1 Tools

  ul.bulleted
    for item in collections.tools.reverse()
      li
        a(href=item.url)
          span.title= item.data.title
