---
title: Script Minifier
description: Minify JS or CSS by rewriting the code to a more compact form eliminating whitespace and line breaks, and renaming JS variables.
date: 2012-10-23
---

p
  | Compress JavaScript and Style Sheets by rewriting the code to a more compact form. This is called <i>minifying</i>, and is based on safe renaming of variables within a defined scope (for JavaScript), and elimination of line-breaks and unnecessary whitespace.
p
  | Paste your <abbr title='JavaScript'>JS</abbr>
  sup
    a(href='#footnote1') 1
  | or <abbr title='Cascading Style Sheet'>CSS</abbr>
  sup
    a(href='#footnote2') 2
  | into the text field below, and it will automatically detect and minify your code.

section
  form#minifier.grid
    div
      label
        b Input
        textarea#input.text(autofocus='autofocus' style='width:100%;font-size:smaller;' required tabindex='1')
    div
      label
        b Output:
        textarea#output.text(name='output' style='width:100%;font-size:smaller;' readonly tabindex='5')
      br
      span#stats.floatright
  p
    input.button(type='submit' value='Minfify' tabindex='4')
    img#loader.hide(src='/images/loading.gif' alt='Loading...' height='11' width='16')

aside#footnotes
  ol
    li#footnote1
      span JavaScript is minified using <a href="https://www.npmjs.com/package/uglify-es">uglify-es</a> which supports ES6 notation.
    li#footnote2
      span CSS is minified using <a href="https://www.npmjs.com/package/clean-css">clean-css</a>.

script(src=global.libs.autosize)
script(src="/scripts/minifier.js")
